# Ambientes virtuais (os mais importantes de ignorar)
venv/
venv
.venv-linux/
.venv_watcher/

# Pastas e arquivos do Rasa que não precisam de versionamento
.rasa/
models/

# Arquivos de cache e de configuração específicos do ambiente
__pycache__/
*.pyc

# Arquivos de log e de banco de dados
*.log
*.sqlite
cache.db